<p id="notice"><%= notice %></p>

<div class="content">

  <div class="header">
    <h1>TodoList
  </div>

  <div class="body">
    <h2>Tasks</h2>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Labels</th>
          <th>Priority</th>
          <th>Body</th>
          <th>Start date</th>
          <th>End date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= task.title %></td>
            <td><%= task.labels %></td>
            <td><%= ["High","Medium","Low"][task.priority] %></td>
            <td><%= task.body %></td>
            <td><%= task.start_date %></td>
            <td><%= task.end_date %></td>
            <td><%= link_to 'Show', task %></td>
            <td><%= link_to 'Mark', task, method: :patch, data: { confirm: 'Mark as done?' } %></td>
            <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Task', new_task_path %>
  </body>

</div>