<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Labels:</strong>
  <%= @task.labels %>
</p>

<p>
  <strong>Priority:</strong>
  <%= ["High","Medium","Low"][@task.priority] %>
</p>

<p>
  <strong>Body:</strong>
  <%= @task.body %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @task.start_date.localtime.to_formatted_s :long_ordinal %>
</p>

<p>
  <strong>End date:</strong>
  <%= @task.end_date.localtime.to_formatted_s :long_ordinal %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
