<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Create Interview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(model: interview, local: true, id: "create_interview") do |form| %>

          <div class="form-group">
            <%= form.label :title %>
            <%= form.text_field :title, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :agenda %>
            <%= form.text_field :agenda, class: "form-control"%>
          </div>

          <div class="form-group">
            <%= form.label :members %>
            <%= form.text_field :members, class: "form-control", id:"find-users" %>
            </select>
          </div>

          <div class="form-group">
            <%= form.label :start %>
            <%= form.datetime_field :start, class: "form-control", id: "dtp_beg" %>
          </div>

          <div class="form-group">
            <%= form.label :end %>
            <%= form.datetime_field :end, class: "form-control", id: "dtp_end" %>
          </div>

          <div class="form-group">
            <%= form.label :comments %>
            <%= form.text_area :comments, class: "form-control"%>
          </div>

          <div class="actions">
            <%= form.submit "Create", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="interviewModal" tabindex="-1" role="dialog" aria-labelledby="interviewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="interviewModalLabel">Interview Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="col">Agenda</th>
                <td id="_agenda"></tr>
              </tr>
              <tr>
                <th scope="col">Members</th>
                <td id="_members"></tr>
              </tr>
              <tr>
                <th scope="col">Start Time</th>
                <td id="_start"></tr>
              </tr>
              <tr>
                <th scope="col">End Time</th>
                <td id="_end"></tr>
              </tr>
              <tr>
                <th scope="col">Comments</th>
                <td id="_comments"></tr>
              </tr>
              <tr>
                <th scope="col">Created By</th>
                <td id="_created_by"></tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info">Edit</button>
        <%= link_to 'Delete', '/interviews/', id: "_delete_int_id", class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>